name: Build

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:
    
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        # example: [examples/*/*]
        example: [examples/VirtualPilotSerial/VirtualPilotSerial, examples/VirtualPilotRgbLed/VirtualPilotRgbLed]

    steps:
    - uses: actions/checkout@v3
    - uses: actions/cache@v3
      with:
        path: |
          ~/.cache/pip
          ~/.platformio/.cache
        key: ${{ runner.os }}-pio
    - uses: actions/setup-python@v4
      with:
        python-version: '3.10'
    - name: Install PlatformIO Core
      run: pip install --upgrade platformio
    - name: Step 6 - Run build examples using PlatformIO
      run: pio ci --lib="." -e seeed_xiao_esp32c6 -c examples/platformio.ini
      env:
        PLATFORMIO_CI_SRC: ${{ matrix.example }}
